<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669316608559-3i06dponeapop667sko43rufvd45fo6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669316608559-3i06dponeapop667sko43rufvd45fo6v</string>
	<key>API_KEY</key>
	<string>AIzaSyByDZ6sbOc0dZdR07Yp4cJHWQUN8XSCqTI</string>
	<key>GCM_SENDER_ID</key>
	<string>669316608559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.alik.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-al1k24</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-al1k24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669316608559:ios:6eed3a539567acf2bd8cda</string>
</dict>
</plist>